@{
    ViewBag.Title = "Thanks for hosting event";
}

@model XmlValidatorProvider.Models.Event

<h2>Thanks for hosting event</h2>

<p>
  Your event @Model.Name is successfully hosted.
</p>

